@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.SideBar{
    height: 100%;
    width: 200px;
    background-color:#FFFFFF;
    gap: 10px;
}
.SideBarList{
    height: auto;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
.SideBarList .row{
 width: 100%;
 height: 60px;
 font-weight: 500;
 color: #1C4980;
 display: flex;
 flex-direction: column;
 justify-content: center;
 list-style-type: none;
}
.SideBarList .row:hover{
    cursor: pointer;
    width: 90px;
    height: 70px;
    background-color: #E5F1FC;
    border: 1px solid #0073E6;
    border-radius: 8px;

}
.row #icon{
   height: 20px;
   width: 20px;
}
.row #title{
    font-family: 'Inter', sans-serif;
    color: #1C4980;
    font-weight: 500;
    font-size: 12px;
    line-height: 16.8px;
}
.mobile-menu{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: #1C4980;
    font-weight: 500
}
.menuBtn{
    padding: 15px;
    border: none;
    border-color: transparent
}
.mobileMenu-left{
    display: flex;
    align-items: center;
}
.SideBarList-menu{
    position: absolute;
    background-color: #FFFFFF;
    width: 90%;
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}